<div class="d-flex flex-column mw-100 gap-2">
  <app-filter-bar 
  (titleFilter)="updateTitleFilter($event)"
  (releaseYearFilter)="updateReleaseYearFilter($event)"
  />
  <!-- Affichage de la liste des films -->
  <div
    class="d-flex flex-column align-items-center"
    *ngIf="filteredMovies$ | async as filteredMovies"
  >
    <div
      class="d-flex flex-row align-items w-100"
      *ngFor="let movie of filteredMovies"
    >
      <p>•</p>
      <div class="d-flex flex-column">
        <h3>{{ movie.title }}</h3>
        <div class="d-flex flex-row gap-2">
          <p>Release date: {{ movie.release_date }}</p>
          <p>Budget: ${{ movie.budget }} million</p>
          <p>Duration: {{ movie.duration | duration }}</p>
        </div>
      </div>
      <button type="button" class="ms-auto btn btn-light" (click)="showDetails(movie.id)">
        Details
      </button>
    </div>
  </div>
</div>
